# Ignore everything
*

# Don't ignore directories, so we can recurse into them
!*/

# Don't ignore these files
!*.py
!*.ipynb
!*.sh
!*.parquet
!.gitignore
!.keep
!crdb.csv
!crdb-latency.csv
!requirements.txt
!README.md

# Ignore notebook checkpoints
.ipynb_checkpoints/

# Ignore virtual environment
venv/

